.home {
  max-width: 90vw !important;
}

form {
  margin-top: 20px;
}

.home__posts {
  width: 90vw;
  max-width: 2000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 30px;
}

.home__posts a {
  text-decoration: none;
}

.home__noposts {
  margin-top: 50px;
}

.home__noposts > p {
  margin-bottom: 15px;
}

@media screen and (max-width: 1400px) {
  .home__posts {
    width: 74vw;
  }
}

@media screen and (max-width: 1150px) {
  .home__posts {
    width: 90vw;
    gap: 30px;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  form > input {
    margin-bottom: 10px !important;
  }

  form > button {
    display: block;
    margin: auto;
    margin-top: 0 !important;
  }

  .home__posts {
    width: 80vw;
  }
}
