.home {
  padding: 0 5%;
}

form {
  margin-top: 20px;
}

.searchBtn {
  background-color: black;
  color: white;
  padding: 11px 20px;
  font: bold 15px Montserrat;
  border: none;
}


@media screen and (max-width:600px) {
    form{
        margin-top: 35px;
    }

    .searchBtn{
        font-size: 14px;
        padding: 11px 15px;
    }
}