label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.InputField {
  border: none;
  border-bottom: 2px solid gray;
  font-family: Montserrat;
  font-weight: 500;
  padding: 10px 0;
  outline: none;
  width: 440px;
  max-width: 50vw;
  background-color: transparent;
  margin: 3px 10px 15px 0;
}

.InputField::placeholder {
  color: rgb(178, 159, 159);
}

.InputField--extended {
  width: 630px;
  max-width: 80vw;
}
