.home__single-posts {
  margin-top: 50px;
  width: 400px;
  height: min-content;
  text-align: left;
}

.single-posts__image {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.single-posts__description {
  margin-top: 10px;
  padding: 0px 5px;
}

.single-posts__description p {
  margin-top: 5px;
}

.single-posts__tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.single-posts__tags li span {
  font-weight: bold;
}

.single-posts__button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 30px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  transition: color 0.5s;

  &:hover {
    color: rgb(187, 187, 187);
  }
}

@media screen and (max-width: 950px) {
    .home__single-posts{
        width: 350px;
    }
}
