*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

#root{
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
}

#root div:nth-child(2){
    flex-grow: 1;
    text-align: center;
}