.login {
  width: max-content;
  max-width: 80vw;
  margin: auto;
}

.login > h1 {
  margin-bottom: 20px;
}

.login > p {
  color: gray;
}

.login__form {
  text-align: left;
}
/* 
.login__form  input,
.form__button {
  
}  */
